@import '~antd/dist/antd.css';
@import '~antd/dist/antd.less';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 100px;
  padding: 20px;
}
.filterList {
  background-color: #a9adb3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.content {
  background-color: #a9adb3;
  border-radius: 8px;
  padding: 20px;
  min-width: 700px;

}
.ant-collapse-header {
  display: flex;
}
.ant-collapse-item {
  background-color: #a9adb3;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}
.ant-collapse {
  /* position: relative; */
  width: 300px;
}
/* .ant-collapse-expand-icon {
  position: absolute;
  margin-right: 13px;
  right: 0;
} */
.ant-checkbox {
  position: absolute;
  right: 0;
  margin-right: 14px;
}
.numberRange {
  width: 50%;
  font-size: 16px;
  color:#041836;
}
.ant-table-content {
  overflow: scroll;
}
